mixin sprite(id, title)
  svg(role="/img" title=title)&attributes(attributes)
    use(xlink:href=`${assetPath("/img/sprite.svg")}#${id}`)

mixin postPreview(post)
  article.postPreview&attributes(attributes)
    .content-wrap
      header
        small.date= (new Date(post.date)).toLocaleDateString('en-us', { year: 'numeric', month: 'long', day: 'numeric' })
        h3
          a(href=`/${post.permalink}`)= post.title
      div.content
        p= post.description
    if post.teaser
      img(src=assetPath(post.teaser) alt=post.title)

mixin navItem(id, title)
  a(href=`/${id}/` class=(navCurrent === id && 'current'))&attributes(attributes)= title

mixin map(id, markers)
  .vectorMap(id=id)
  script.
    const markers = [!{markers}];
    // https://jvectormap.com/documentation/javascript-api/jvm-map/
    new jvm.MultiMap({
      container: $(`#!{id}`),
      maxLevel: 0,
      main: {
        map: 'europe_mill',
        backgroundColor: 'transparent',
        markers,
        focusOn: ['DE', 'FR', 'BE'],
        regionStyle: {
          initial: {
            'fill': 'var(--color-map-region)',
            'stroke': 'var(--color-map-outline)',
            'stroke-width': .25
          },
          hover: {
            'fill-opacity': .8,
            cursor: 'pointer'
          }
        },
        onMarkerClick(event, index) {
          const marker = markers[index]
          if (marker.url) window.open(marker.url, '_blank');
        }
      },
      mapUrlByCode(code, multiMap) {
        return `/vendor/jvectormap/maps/${code.toLowerCase()}_${multiMap.defaultProjection}.js`;
      },
      mapNameByCode(code, multiMap) {
        return `${code.toLowerCase()}_${multiMap.defaultProjection}`;
      }
    });
