include /mixins.pug

block vars
  - const pageTitle = title && title != siteData.meta.title ? `${title} · ${siteData.meta.title}` : `${siteData.meta.title} · ${siteData.meta.tagline}`
  - const pageDescription = description || siteData.meta.description
  - const pageKeywords = keywords || siteData.meta.keywords
  - const pageCard = previewImage || cardImage || teaser || siteData.meta.cardImage
  - const themeColor = siteData.meta.themeColor

<!DOCTYPE html>
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="keywords" content=pageKeywords)
    meta(name="description" content=pageDescription)
    meta(property="og:locale" content=lang)
    meta(property="og:site_name" content=siteData.title)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:type" content="website")
    meta(property="og:image" content=assetUrl(pageCard, "http"))
    meta(property="og:image:secure_url" content=assetUrl(pageCard))
    meta(property="og:image:width" content=1296)
    meta(property="og:image:height" content=678)
    meta(name="twitter:site" content="@peachbitcoin")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:image" content=assetUrl(pageCard))
    meta(name="msapplication-TileColor" content=themeColor)
    meta(name="theme-color" content=themeColor)
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-regular.woff2"))
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-600.woff2"))
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-800.woff2"))
    link(rel="apple-touch-icon" href=assetPath("/img/favicon/apple-touch-icon.png"))
    link(rel="icon" href=assetPath("/img/favicon/favicon.svg"))
    link(rel="manifest" href=assetPath("/site.webmanifest"))
    link(rel="mask-icon" href=assetPath("/img/favicon/safari-pinned-tab.svg") color=themeColor)
    link(rel="stylesheet" href=assetPath("/css/main.css"))
    title= pageTitle
    if !IS_DEV
      script(src="https://www.googletagmanager.com/gtag/js?id=G-TBTST1GYXK" async)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TBTST1GYXK');
    block pageScripts
  body(id=slugify(permalink) class=(hasTeaser ? 'with-teaser' : null))
    header.header#header
      .wrap
        a(href=getUrl("/", lang)).brand
          img.logo(src=assetPath("/img/peach-bitcoin.svg") alt="Peach Bitcoin")
        input(id="show-menu" type="checkbox")
        label(id="nav-toggle" for="show-menu")
          svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
            path.line--1(d="M0 70l28-28c2-2 2-2 7-2h64")
            path.line--2(d="M0 50h99")
            path.line--3(d="M0 30l28 28c2 2 2 2 7 2h64")
        nav.nav
          +navItem("how-it-works", i18n("howItWorks", lang))
          +navItem("for-meetups", i18n("forMeetups", lang))
          +navItem("for-businesses", i18n("forBusinesses", lang))
          +navItem("blog", i18n("blog", lang))
          +navItem("support", i18n("support", lang))
    if hasTeaser
      block teaser
    main#main.main
      #header-anchor
      block main
    footer#footer.footer
      .wrap
        .inner
          .box
            h6 !{i18n('community', lang)}
            a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener") !{i18n('twitter', lang)}
            a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener") !{i18n('telegram', lang)}
            a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener") !{i18n('discord', lang)}
            a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener") !{i18n('instagram', lang)}
            a(href=siteData.meta.nostrUrl target="_blank" rel="noreferrer noopener") !{i18n('nostr', lang)}
            a(href="https://github.com/Peach2Peach" target="_blank" rel="noreferrer noopener") !{i18n('github', lang)}
            a(href="https://www.youtube.com/@peachbitcoin" target="_blank" rel="noreferrer noopener") !{i18n('youtube', lang)}
          .box
            h6 !{i18n('company', lang)}
            a(href=getUrl("/join-us/", lang)) !{i18n('joinUs', lang)}
            a(href=getUrl("/terms-and-conditions/", lang)) !{i18n('tAndC', lang)}
            a(href=getUrl("/privacy-policy/", lang)) !{i18n('privacyPolicy', lang)}
          .box
            h6 !{i18n('download', lang)}
            span= `${siteData.meta.apkVersionBuild}`
            a(href=getUrl("/apk/", lang)) !{i18n('apk', lang)}
            a(href=siteData.meta.iosUrl) !{i18n('iphone', lang)}
            a(href=siteData.meta.androidUrl) !{i18n('android', lang)}
          .box
            h6 !{i18n('contact', lang)}
            a(href=`mailto:${siteData.meta.contactEmail}`) !{i18n('email', lang)}
            a(href="https://keys.openpgp.org/vks/v1/by-fingerprint/48339A19645E2E53488E0E5479E1B270FACD1BD2") !{i18n('pgpKey', lang)}
          .box
            h6 !{i18n('bitcoin', lang)}
            a(href="/bitcoin.pdf") !{i18n('whitepaper', lang)}
            a(href="https://docs.peachbitcoin.com") !{i18n('api', lang)}
          .box
            a(href=getUrl("/languages/", lang)) h6 !{i18n('languages', lang)}
    script(src=assetPath("/js/main.js"))
