- const pageTitle = title ? `${title} · ${siteData.meta.title}` : siteData.meta.title
- const pageDescription = description || siteData.meta.description
- const pageKeywords = keywords || siteData.meta.keywords
- const pageCard = cardImage || siteData.meta.cardImage
- const themeColor = siteData.meta.themeColor

include /mixins.pug

<!DOCTYPE html>
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="keywords" content=pageKeywords)
    meta(name="description" content=pageDescription)
    meta(property="og:locale" content=lang)
    meta(property="og:site_name" content=siteData.title)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:type" content="website")
    meta(property="og:image" content=assetUrl(pageCard, "http"))
    meta(property="og:image:secure_url" content=assetUrl(pageCard))
    meta(property="og:image:width" content=1296)
    meta(property="og:image:height" content=678)
    meta(name="twitter:site" content="@peachbitcoin")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:image" content=assetUrl(pageCard))
    meta(name="msapplication-TileColor" content=themeColor)
    meta(name="theme-color" content=themeColor)
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-regular.woff2"))
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-600.woff2"))
    link(rel="preload" as="font" crossorigin href=assetPath("/fonts/baloo-2-v16-latin-800.woff2"))
    link(rel="apple-touch-icon" href=assetPath("/img/favicon/apple-touch-icon.png"))
    link(rel="icon" href=assetPath("/img/logo.svg"))
    link(rel="manifest" href=assetPath("/site.webmanifest"))
    link(rel="mask-icon" href=assetPath("/img/favicon/safari-pinned-tab.svg") color=themeColor)
    link(rel="stylesheet" href=assetPath("/css/main.css"))
    title= pageTitle
  body
    header.header#header
      .wrap
        a(href="/").brand
          <svg viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-147.08 -141.576) scale(1.55303)"><path d="M225.896 91.177c14.041-1.507 26.512 6.731 30.405 20.146.686 2.365 1.031 4.896 1.109 7.366.168 5.286.06 10.581.06 15.872 0 .486-.416.872-.902.89-3.866.142-7.646-.025-11.34-1.245-11.582-3.815-19.276-14.426-19.397-26.842-.052-5.037-.013-10.078-.009-15.114m67.335 22.498a.004.004 0 0 0-.004.004c1.241 10.995-6.612 20.374-17.214 20.689-5.993.179-11.497-4.947-8.974-10.386 1.2-2.588 3.048-4.88 5.622-6.847 2.899-2.216 6.205-3.386 9.838-3.447 3.556-.057 7.116-.013 10.732-.013z" id="leafs"/><path fill-rule="evenodd" clip-rule="evenodd" d="M382.088 229.738c0 62.519-54.865 121.788-122.544 121.788-24.548 0-47.41-7.797-66.579-20.718v62.21c0 15.454-12.528 27.982-27.983 27.982C149.528 421 137 408.472 137 393.018V231.877h.022c-.015-.712-.022-1.426-.022-2.139 0-54.091 41.069-90.555 95.974-86.295a344.802 344.802 0 0 0 53.14 0c54.905-4.26 95.974 32.204 95.974 86.295zm-57.894 9.948c0 33.489-29.376 65.237-65.614 65.237s-65.614-31.748-65.614-65.237c0-30.432 24.258-50.448 55.879-45.713a65.834 65.834 0 0 0 19.47 0c31.621-4.735 55.879 15.281 55.879 45.713z" fill="#fff"/></g></svg>
          span Peach
        input(id="show-menu" type="checkbox")
        label(id="nav-toggle" for="show-menu")
          svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
            path.line--1(d="M0 70l28-28c2-2 2-2 7-2h64")
            path.line--2(d="M0 50h99")
            path.line--3(d="M0 30l28 28c2 2 2 2 7 2h64")
        nav.nav
          +navItem("how-it-works", "How it Works")
          +navItem("for-meetups", "For Meetups")
          +navItem("blog", "Blog")
          +navItem("support", "Support")
    #header-anchor
    main.main
      block main
    footer#footer.footer
      .wrap
        .inner
          .box
            h6 Community
            a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener") Twitter
            a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener") Telegram
            a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener") Discord
            a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener") Instagram
          .box
            h6 Company
            a(href="/join-us/") Join us
            a(href="/termsConditions.html") T&C
            a(href="/privacyPolicy.html") Privacy Policy
          .box
            h6 Download
            a(href="/beta/") APK
            a(href="#") iPhone
            a(href="#") Android
          .box
            h6 Security
            a(href="#") PGP key
            a(href="#") Warrant Canary
          .box
            h6 Contact
            a(href="mailto:hello@peachbitcoin.com") Email
          .box
            h6 Bitcoin
            a(href="/bitcoin.pdf") Whitepaper
    script(src=assetPath("/js/main.js"))
