extends /template.pug

block append vars
  - const hasTeaser = true

block teaser
  section.teaser
    != html.teaser
    a.scroll(href="#main"): +sprite("chevron-down")

block main
  section.wrap
    article.content-wrap.content-wrap--flex
      div!= html.easy_registration
      figure: img(src=assetPath("/img/how-it-works/easy_registration.png"))

  section.wrap#payment
    article.content-wrap.content-wrap--centered
      != html.payment_methods

    article.content-wrap.content-wrap--flex
      div!= html.self_custody
      figure: img(src=assetPath("/img/how-it-works/self_custody.png"))

  section.wrap
    article#sounds_cool.content-wrap.content-wrap--centered
      != html.sounds_cool
      a(href="/quick-start/").button.button--primary
        span Quick Start Guide
        +sprite("quickstart")

    article.content-wrap.content-wrap--flex
      div!= html.security
      figure: img(src=assetPath("/img/how-it-works/security.png"))

    article.content-wrap.content-wrap--flex
      div!= html.difference
      figure: img(src=assetPath("/img/how-it-works/difference.png"))

  section.wrap
    article#questions.content-wrap.content-wrap--centered
      != html.questions
      a(href="/support/").button.button--primary
        span Support
        +sprite("help")
