extends /template.pug

block append vars
  - const hasTeaser = true

block teaser
  section.teaser
    != html.teaser
    .custom-section_357
      div(class="md:flex items-end")
        a(href="https://testflight.apple.com/join/wfSPFEWG")
          img(class="h-180px md:h-90px" src="/img/home/download-on-the-app-store.svg" alt="Download Peach Bitcoin app on the App Store without KYC verification")
        a(class="md:ml-4" href="https://play.google.com/store/apps/details?id=com.peachbitcoin.peach.mainnet")
          img(class="h-180px md:h-90px" src="/img/home/get-it-on-google-play.svg" alt="Get Peach Bitcoin app on Google Play store without ID verification")
        a(class="md:ml-4" href="https://zapstore.dev/download/")
          img(class="h-180px md:h-90px" src="/img/home/zap-button.svg" alt="Get Peach Bitcoin app on zap store without ID verification")

    .apk-button-wrapper.text-center.mt-4
      a(href="/apk/")
        img(
          class="mx-auto h-90px md:h-90px apk-button-image"
          src="/img/home/Buttons.svg"
          alt="Download Peach Bitcoin APK"
        )

    a.scroll(href="#main"): +sprite("chevron-down")
  script(type="text/javascript" src=assetPath("/js/tabs.js"))

block main

  section.payment-methods-section
    h2(style="background: var(--bg-gradient-peachy); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 40px;") Supported Payment Methods On Peach
    p Peach Bitcoin offers a variety of secure and swift payment methods for buying and selling Bitcoin, prioritizing your privacy and security with customized options.

    .payment-frame
      div.payment-button.active(data-target="europe") Europe
      div.payment-button(data-target="latin-america") Latin America
      div.payment-button(data-target="africa") Africa
      div.payment-button(data-target="others") Others

  section.wrap#payment
    article.content-wrap.content-wrap--centered
      != html.payment_methods

  section.contact-container-howto
    div.wrap
      h3.payment-container-title.peach-text !{i18n('howto.contact.title', lang)}
      p.contact-container-subtitle-howto !{i18n('howto.contact.subtitle', lang)}
      div.contact-container-buttons 
        a.contact-container-button-outline(href=getUrl(`https://ncxldazr6m4.typeform.com/to/SJljDnae`, lang))
          span !{i18n('reccomanded.contact', lang)}
        a.order-book-button(href=getUrl(`/kycfree-orderbook`, lang))
          img(src="/img/home/show_chart.svg" alt="Show Chart Button")
          span.order-book-button-text !{i18n('home.teaser.viewOrderBook', lang)}

  section.wrap#payment.self-custody
    article.content-wrap.content-wrap--flex
      div!= html.self_custody
      figure: img(src=assetPath("/img/how-it-works/self_custody.png"))

  section#security
    .wrap
      article.content-wrap.content-wrap--flex
        figure: img(src=assetPath("/img/how-it-works/security.png"))
        div!= html.security
  
  section#difference
    .wrap
      article.content-wrap.content-wrap--flex
        div!= html.difference
        figure: img(src=assetPath("/img/how-it-works/difference.png"))

  #index
    section.contact-container1
      div.wrap
        h3.contact-container-title1.peach-text !{i18n('home.contact.title', lang)}
        p.contact-container-subtitle1 !{i18n('home.contact.subtitle', lang)}
        div.contact-container-buttons1
          a.contact-container-button-outline1(href=getUrl(`/faqhome/`, lang))
            span !{i18n('home.contact.checkFAQ', lang)}
          a.primary-button(href=getUrl(`/support/`, lang))
            span.primary-button-text !{i18n('home.contact.contactSupport', lang)}
