extends /template.pug

block teaser
  section.teaser
    h1 Peach Bitcoin
    h2
      = "Buy & Sell Bitcoin "
      span peer-to-peer
    .download
      a.button(href=siteData.meta.iosUrl) Download on iPhone
      a.button(href=siteData.meta.androidUrl) Download on Android
    img(src=assetPath('/img/phones.png') alt="Swipe, match, stack")
    a.scroll(href="#header-anchor"): +sprite("down")

block main
  section#top.wrap
    .content-wrap
      != html.top

  section#mission.wrap
    .content-wrap
      != html.mission
      div.social
        a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener"): +sprite("social-twitter", "Twitter")
        a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener"): +sprite("social-telegram", "Telegram")
        a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener"): +sprite("social-discord", "Discord")
        a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener"): +sprite("social-instagram", "Instagram")

  section#newsletter.wrap
    form.newsletter-form(method="POST" action="https://5dcdd79e.sibforms.com/serve/MUIEAGjzL2fItMY1cwWaIXk6UiGKmh6OFwDRRA3wjUptuI7KEG1oWd0-a1M8fGC4apXeJkr9xTZPG-HK-Cyl0Zs8OEyH-qMndMqnE5MgP-0WVFz9ryAKU_te8XOKoOStliGWWB1LTjgioz5XpKeH-rihs5STRci4aD12qb4jAeOqrVXbV8E4wJKLWDVaEgrLzrIY612Qgi2V1KQq")
      h4 Subscribe to our mailing list to stay up to date with important Peach updates
      div
        label(for="email") Enter your email address to subscribe
        input#email(type="text" name="EMAIL" autocomplete="off" placeholder="Your email address" required)
      div.check
        input#optin(type="checkbox" value="1" name="OPT_IN")
        label(for="optin"): small I agree to receive your newsletters and accept the <a href="/privacyPolicy.html">data privacy</a> statement.
      p
        small You may unsubscribe at any time using the link in our newsletter.
      button.button(type="submit") Subscribe
      input(type="hidden" name="email_address_check" value="")
      input(type="hidden" name="locale" value="en")
      input(type="hidden" name="html_type" value="simple")

  section#bottom.wrap
    .content-wrap
      != html.about
