extends /template.pug

block append vars
  - const hasTeaser = true

block teaser
  section.teaser
    != html.teaser
    a.scroll(href="#main"): +sprite("chevron-down")

block main
  section#top.wrap
    .content-wrap.content-wrap--centered
      != html.top

  section#mission.wrap
    .content-wrap.content-wrap--centered
      != html.mission
      .contact
        a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener" title="Twitter")
          +sprite("social-twitter", "Twitter")
        a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener" title="Telegram")
          +sprite("social-telegram", "Telegram")
        a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener" title="Discord")
          +sprite("social-discord", "Discord")
        a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener" title="Instagram")
          +sprite("social-instagram", "Instagram")
        a(href=siteData.meta.nostrUrl target="_blank" rel="noreferrer noopener" title="Nostr")
          +sprite("social-nostr", "Nostr")

  section#newsletter.wrap
    form.newsletter-form(method="POST" action="https://5dcdd79e.sibforms.com/serve/MUIEAGjzL2fItMY1cwWaIXk6UiGKmh6OFwDRRA3wjUptuI7KEG1oWd0-a1M8fGC4apXeJkr9xTZPG-HK-Cyl0Zs8OEyH-qMndMqnE5MgP-0WVFz9ryAKU_te8XOKoOStliGWWB1LTjgioz5XpKeH-rihs5STRci4aD12qb4jAeOqrVXbV8E4wJKLWDVaEgrLzrIY612Qgi2V1KQq")
      h4: label(for="email") Subscribe to our mailing list to stay up to date with important Peach updates
      div
        input#email(type="text" name="EMAIL" autocomplete="off" placeholder="Your email address" required)
      div.check
        input#optin(type="checkbox" value="1" name="OPT_IN")
        label(for="optin"): small I agree to receive your newsletters and accept the <a href="/privacyPolicy.html">data privacy</a> statement.
      p
        small You may unsubscribe at any time using the link in our newsletter.
      button.button.button--white(type="submit") Subscribe
      input(type="hidden" name="email_address_check" value="")
      input(type="hidden" name="locale" value="en")
      input(type="hidden" name="html_type" value="simple")

  section#bottom.wrap
    .content-wrap.content-wrap--centered
      != html.about
