extends /template.pug

block main
  section.wrap.home(id=name)
    h1 Peach Bitcoin

    p
      strong Swipe, match, stack — Buy &amp; Sell Bitcoin peer-to-peer

    != html

    article
      h2 Join our Mission
      p We aim to make stacking sats peer-to-peer the standard!
      div.social
        a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener"): +sprite("twitter", "Twitter")
        a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener"): +sprite("telegram", "Telegram")
        a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener"): +sprite("discord", "Discord")
        a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener"): +sprite("instagram", "Instagram")

    form.newsletter-form(method="POST" action="https://5dcdd79e.sibforms.com/serve/MUIEAGjzL2fItMY1cwWaIXk6UiGKmh6OFwDRRA3wjUptuI7KEG1oWd0-a1M8fGC4apXeJkr9xTZPG-HK-Cyl0Zs8OEyH-qMndMqnE5MgP-0WVFz9ryAKU_te8XOKoOStliGWWB1LTjgioz5XpKeH-rihs5STRci4aD12qb4jAeOqrVXbV8E4wJKLWDVaEgrLzrIY612Qgi2V1KQq")
      h4 Subscribe to our mailing list to stay up to date with important Peach updates
      div
        label(for="email") Enter your email address to subscribe
        input#email(type="text" name="EMAIL" autocomplete="off" placeholder="Your email address" required)
      div.check
        input#optin(type="checkbox" value="1" name="OPT_IN")
        label(for="optin") I agree to receive your newsletters and accept the <a href="/privacyPolicy.html">data privacy</a> statement.
      p
        small You may unsubscribe at any time using the link in our newsletter.
      button(type="submit") Subscribe
      input(type="hidden" name="email_address_check" value="")
      input(type="hidden" name="locale" value="en")
      input(type="hidden" name="html_type" value="simple")

    article
      h2 About Us
      p Peach, the company, is born from people who believe in the hardest money that has ever existed, and want to make it accessible to the whole world without compromising the fundamental aspects of Bitcoin.
      p Are you one of those? Check out our Join Us section, maybe we can work together!
      p If you want to know more about the company, check out our blog posts talking about how everything started, and how we got here.
