extends /template.pug

block append vars
  - const hasTeaser = true

block teaser
  section.teaser
    != html.teaser
    a.scroll(href="#main"): +sprite("chevron-down")

    section.teaser-badge
      img(src='/img/home/bitcoin-logo.png', alt='Bitcoin')

block main
  
  <link rel="stylesheet" href="https://ap-widget.s3.amazonaws.com/css/glider.min.css" />
  <link rel="stylesheet" href="https://ap-widget.s3.amazonaws.com/css/widget.min.css" />
  <script type="text/javascript" src="https://ap-widget.s3.amazonaws.com/glider.min.js"></script>
  <script type="text/javascript" src="https://ap-widget.s3.amazonaws.com/widget.min.js" async></script>

  section#top.wrap
    .content-wrap.content-wrap--centered
      != html.top

  section#mission.wrap
    .content-wrap.content-wrap--centered
      != html.mission
      .contact
        include /social.pug

  section#newsletter.wrap
    form.newsletter-form(method="POST" action="https://5dcdd79e.sibforms.com/serve/MUIEAGjzL2fItMY1cwWaIXk6UiGKmh6OFwDRRA3wjUptuI7KEG1oWd0-a1M8fGC4apXeJkr9xTZPG-HK-Cyl0Zs8OEyH-qMndMqnE5MgP-0WVFz9ryAKU_te8XOKoOStliGWWB1LTjgioz5XpKeH-rihs5STRci4aD12qb4jAeOqrVXbV8E4wJKLWDVaEgrLzrIY612Qgi2V1KQq")
      h4: label(for="email") !{i18n('mailing.list.title', lang)}
      div
        input#email(type="text" name="EMAIL" autocomplete="off" placeholder="Email" required)
      div.check
        input#optin(type="checkbox" value="1" name="OPT_IN")
        label(for="optin"): small !{i18n('mailing.list.optin', lang)} <a href="/privacyPolicy.html">!{i18n('mailing.list.privacypolicy', lang)}</a>.
      p
        small !{i18n('mailing.list.unsubscribe', lang)}
      button.button.button--white(type="submit") !{i18n('mailing.list.subscribe.button', lang)}
      input(type="hidden" name="email_address_check" value="")
      input(type="hidden" name="locale" value="en")
      input(type="hidden" name="html_type" value="simple")

  section#bottom.wrap
    .content-wrap.content-wrap--centered
      != html.about
