extends /template.pug

block pageScripts
  script(src=assetPath("/vendor/jvectormap/jquery.min.js"))
  script(src=assetPath("/vendor/jvectormap/jquery-jvectormap.js"))
  script(src=assetPath("/vendor/jvectormap/maps/world_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/europe_mill.js"))
  link(href=assetPath("/vendor/jvectormap/jquery-jvectormap.css") rel="stylesheet")

block main
  section.wrap
    .content-wrap.content-wrap--centered
      != html.headline

    .content-wrap.content-wrap--flex
      .intro
        != html.intro

      // Keep the same form wrapper & button styling, but remove all fields.
      // Submitting will redirect to the external form URL instead of posting.
      form(
        onsubmit="window.location.href='https://5dcdd79e.sibforms.com/serve/MUIEACK8DNtsYekP-whrDbBFB1y3mlblrQm0hnpDEW06e-6_pp5TeB8pA3E-j2U3pw9xZZ5iIdtHjHlzBbjHoKB6D2BBHo2CvW0rFPlP05jJ97khgMEdrM4TqiD69oVkkQaINYSH7zQVIxwbLaLs0vYBcoMOcrQdcHXha_LfF0NDYDG9dtJTyidQHboAEDkOtNNdELB1E1bZqXCp'; return false;"
      )
        h4 !{i18n('meetups.form.title', lang)}
        p !{i18n('meetups.form.description', lang)}

        // Only keep TOS/consent + submit for identical graphics to your theme
        .check
          input#optin(
            type="checkbox"
            name="OPT_IN"
            value="1"
            required
          )
          label(for="optin")
            small
              | !{i18n('mailing.list.optin', lang)} 
              | 
              a(href="/privacyPolicy.html") !{i18n('mailing.list.privacypolicy', lang)}
              | .

        button.button.button--white(type="submit") !{i18n('input.sendEmail', lang)}

    .content-wrap.content-wrap--centered
      != html.map

  +map('meetupMap', siteData.meetups.map(m => JSON.stringify({
      name: m.name,
      latLng: [m.latitude, m.longitude],
      url: m.url,
      style: {
        fill: 'var(--color-primary-main)'
      }
    })).join(','))
