extends /template.pug

block main
  section.wrap
    .content-wrap.content-wrap--centered
      != html

      h2 Guides
      .guides
        a(href='/guides/quickstart/').button.button--primary
          span Quick Start Guide
          +sprite("quickstart")
        a(href='/guides/trading/').button.button--primary
          span Trading
          +sprite("trading")
        a(href='/guides/account/').button.button--primary
          span My Account
          +sprite("account")
        a(href='/guides/privacy/').button.button--primary
          span Privacy
          +sprite("privacy")

      h2 Contact
      .contact
        a(href=`mailto:${siteData.meta.contactEmail}` title="email")
          +sprite("social-email", "Email")
        a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener" title="Twitter")
          +sprite("social-twitter", "Twitter")
        a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener" title="Telegram")
          +sprite("social-telegram", "Telegram")
        a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener" title="Discord")
          +sprite("social-discord", "Discord")
        a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener" title="Instagram")
          +sprite("social-instagram", "Instagram")
