extends /template.pug

block main
  section.wrap
    .content-wrap.content-wrap--centered
      != html.intro

      .guides
        a(href=getUrl("/quick-start/", lang)).button.button--primary
          span Quick Start Guide
          +sprite("quickstart")

      h2 FAQ
      .faq
        a(href=getUrl("/faq/trading/", lang)).button.button--primary
          span Trading
          +sprite("trading")
        a(href=getUrl("/faq/matches/", lang)).button.button--primary
          span Matches
          +sprite("matches")
        a(href=getUrl("/faq/account/", lang)).button.button--primary
          span My Account
          +sprite("account")
        a(href=getUrl("/faq/privacy/", lang)).button.button--primary
          span Privacy
          +sprite("privacy")

      != html.contact
      .contact
        a(href=`mailto:${siteData.meta.contactEmail}` title="email")
          +sprite("social-email", "Email")
        include /social.pug
