extends /template.pug

block main
  section.wrap
    .content-wrap
      != html

      .contact
        a(href=`mailto:${siteData.meta.contactEmail}`)
          +sprite("social-email", "Email")
          span Email
        a(href=siteData.meta.twitterUrl target="_blank" rel="noreferrer noopener")
          +sprite("social-twitter", "Twitter")
          span Twitter
        a(href=siteData.meta.telegramUrl target="_blank" rel="noreferrer noopener")
          +sprite("social-telegram", "Telegram")
          span Telegram
        a(href=siteData.meta.discordUrl target="_blank" rel="noreferrer noopener")
          +sprite("social-discord", "Discord")
          span Discord
        a(href=siteData.meta.instagramUrl target="_blank" rel="noreferrer noopener")
          +sprite("social-instagram", "Instagram")
          span Instagram
