extends /template.pug

block main
  section.wrap
    .content-wrap.content-wrap--centered
      != html.intro

      .guides
        a(href=getUrl("/quick-start/", lang)).button.button--primary
          span !{i18n('quickStartGuide', lang)}
          +sprite("quickstart")

      h2 !{i18n('faq', lang)}
      .faq
        a(href=getUrl("/faq/trading/", lang)).button.button--primary
          span !{i18n('trading', lang)}
          +sprite("trading")
        a(href=getUrl("/faq/matches/", lang)).button.button--primary
          span !{i18n('matches', lang)}
          +sprite("matches")
        a(href=getUrl("/faq/account/", lang)).button.button--primary
          span !{i18n('myAccount', lang)}
          +sprite("account")
        a(href=getUrl("/faq/privacy/", lang)).button.button--primary
          span !{i18n('privacy', lang)}
          +sprite("privacy")
        a(href=getUrl("/faq/tutorials/", lang)).button.button--primary
          span !{i18n('tutorials', lang)}
          +sprite("tutorials")

      != html.contact
      .contact
        a(href=`mailto:${siteData.meta.contactEmail}` title=i18n("email", lang))
          +sprite("social-email", i18n("email", lang))
        include /social.pug
